<!DOCTYPE html>
<html>
  <head>
    <title>MProducts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-white">
          <%= link_to "Home", root_path, class: "text-xl font-bold" %>
        </div>
        <div class="space-x-4 flex items-center">
          <%= link_to "Home", root_path, class: "text-white" %>
          <div class="relative inline-block text-white">
            <%= link_to "Products", products_path, class: "cursor-pointer" %>
          </div>
          <div class="relative inline-block text-white">
            <%= link_to "Invoices", invoices_path, class: "cursor-pointer" %>
          </div>
          <%= link_to cart_items_path do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>
          <% end %>

        </div>
      </div>
    </nav>
    <main class="mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
